.box a{
	display: block;
	text-align: center;
}

.box{
	background: rgba(255,0,255,6);
	border: 2px solid #0f0;
	border-radius: 5px;
	box-shadow: 0 0 8px 0px #444;
	display: inline-block;
	height: 200px;
	transition: 500ms ease-in;
	width: 200px;
}